.activity_table{
    border-collapse: collapse;
    margin: 25px 0 0 25px;
    font-size: 0.9em;
    min-width: 300px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    // box-shadow: 0 0 20px blanchedalmond;
}

.activity_table thead tr{
    background-color: white;
    color: black;
    text-align: left;
    font-weight: bold;
}

.activity_table th, .activity_table td{
    padding: 12px 15px;
}

.activity_table tbody tr{
    border-bottom: 1px solid #dddddd;
}

.activity_table tbody tr:hover{
    color: #b9b9b9;
}

.activity_table tbody tr:last-of-type{
    border-bottom: 3px solid white;
}

.activity{
    margin: 25px 0 0 25px;
}

.form-input{
    width: 100px;
}